{% extends 'todo/base.html' %}

{% block content %}
    <h1>{{count}}</h1>
    {% for p in posts %}
        {% if p.is_solved %}
            <div class="task-complete">
                <i><s><a class="task-title" href="{% url 'task-update' p.id %}"><h1>{{p.title}}</h1></a></s></i>
                <a href="{% url 'task-delete' p.id %}">Delte</a>
                <p class="author">{{p.author}}</p>
            </div>
        {% else %}
            <div class="task-incomplete">

                <a class="task-title"  href="{% url 'task-update' p.id %}"><h1>{{p.title}}</h1></a>
                <hr>
                <div class="column-c"><p class="description">{{p.description}}</p></div>
                <div class="column-l"><a class="task-title" href="{% url 'complete' p.id %}">☑</a></div>
                <div class="column-r"><a class="task-title" href="{% url 'task-delete' p.id %}">Delte</a></div>
                <p class="author">{{p.author}}</p>
            </div>
        {% endif %}
    {% empty%}
        <h1>У вас нет задач</h1>

    {% endfor %}

{% endblock %}